@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Urbanist", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #091015;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-height: 150px;
  margin: 0 auto;
  padding: 0 4px;
  border-radius: 8px;
  object-fit: scale-down;
  float: left;
  background-color: transparent;
}

section {
  min-height: 80vh;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

h1 {
  padding-top: 12px;
}

.transbg {
  background-color: transparent;
}

.shadow {
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.border {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.border__hovered {
  /* From https://css.glass */
  background: rgba(25, 72, 113, 0.55);
  border-radius: 16px;
  height: 100%;
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(95, 167, 227, 0.4);
}

/*

table data

*/

#animals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.animals__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 20%;
  margin: 10px;
}

.animals__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 28px;
}

.animals__img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.animals__container--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 12px;
}

.animals__container--para {
  list-style-type: none;
  font-size: 18px;
  line-height: 1.3;
}

.hover__description--text-h1 {
  padding-bottom: 12px;
}

/* 

HOVER

*/


.hover__img {
  width: 100%;
  transition: all 500ms ease;
}

.hover__wrapper {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.hover__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: 450ms ease;
  z-index: 2;
}

.hover:hover .hover__wrapper:before {
  opacity: 0.7;
}

.hover:hover .hover__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.hover__list {
  padding-top: 40px;
}
.hover:hover .hover__description {
  opacity: 1;
  transform: translateY(-50%);
}

.hover__description {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.hover__description--text {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  margin: 0 auto;
  text-align: left;
  color: #eaf1f6;
}
