/* 
--text: #091015;
--background: #F0F7FA;
--primary: #528ebf;
--secondary: #8ebde5;
--accent: #5da6e2;
*/

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Urbanist", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #091015;
  background-color: #f0f7fa;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.blue {
  color: #5da6e2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

img {
  float: left;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}


section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  border-radius: 4px;
}

h1 {
  text-decoration: underline;
}

.no-cursor {
  cursor: no-drop;
}

.red {
  color: red;
}

.transbg {
  background-color: transparent;
}

.shadow {
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 

NAV

*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  display: flex;
  padding: 0 24px;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 0.4px;
  z-index: 3;
}

.nav__logo {
  width: 90px;
  margin-right: 12px;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  color: #5da6e2;
  font-weight: bold;
  padding: 8px;
}

.nav__links {
  display: flex;
}

.nav__link--primary {
  border: 2px solid #528ebf;
  background-color: #528ebf;
  color: white;
  border-radius: 10px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

/* 

HEADER

*/

.header__link {
  margin-left: 16px;
  font-size: 20px;
  color: #5da6e2;
  font-weight: bold;
  padding: 2px 14px;
}

.header__link--border {
  border: 2px solid #8ebde5;
  background-color: #8ebde5;
  color: white;
  border-radius: 4px;
}

.header__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 0.5px;
}

/* 

LANDING

*/

.container {
  padding: 56px 0;
}

.container__primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
}

.ct {
  width: 100%;
  padding: 24px;
}

.image__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  min-width: 38vh;
  object-fit: scale-down;
  margin-right: 48px;
  margin-left: 48px;
}

.image__wrapper--cocoa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 60vh;
}

.image__wrapper--text {
  text-align: center;
  padding-top: 16px;
  font-weight: 300;
  font-size: 14px;
}

.image__wrapper--sub {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 10px;
}

.info__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 52px;
}

.info__paras {
  display: flex;
  flex-wrap: wrap;
}

.info__para {
  font-size: 20px;
  text-align: justify;
  padding: 0 80px;
}

.info__img {
  overflow: hidden;
}

/* 

HOURS

*/

#hours {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 35%;
}

.hours__title {
  text-align: center;
  font-size: 48px;
  padding-bottom: 36px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  table-layout: fixed;
}

td {
  padding: 10px;
}

.table__head {
  background-color: #accfec;
  font-size: 32px;
  padding: 10px;
  text-align: left;
}

.container__table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

/* 

ANIMALS

*/

#animals {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100vh;
}

/* 

JOIN

*/

#join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: #060a0c;
  background: rgb(121, 187, 241, 0.2);
  padding-top: 24px;
}

.join__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.join__title {
  text-align: center;
  font-size: 32px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.join__container--img {
  width: 100%;
  max-width: 250px;
  padding-left: 12px;
  padding-right: 60px;
}

.join__para {
  list-style: unset;
  list-style-position: inside;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 12%;
  padding-left: 60px;
}

li::marker {
  font-size: 24px;
  color: #49acfd;
}

.join__para a {
  text-decoration: underline;
}
